# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
# IntelliJ related
*.iml
.idea/
# VS Code related
.vscode/
# Flutter specific
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
# MacOS files
.DS_Store
# Coverage
coverage/
